<!DOCTYPE html>
<html>
    <head>
          <meta charset="utf-8" />
          <meta name="language" content="pt-br">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <title>Augusto Pascutti - {{ page.title }}</title>
          <meta name="description" content="Augusto Pascutti Blog - Desenvolvimento web, entre outras coisas">
          <meta name="keywords" content="php, javascript, phpsp, development, open source" >
          <meta name="author" content="Augusto Pascutti">
          <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
          <link style="text/css" rel="stylesheet" href="/res/default.css?v2" />
          <link style="text/css" rel="stylesheet" href="/res/prism.css" />
          <link href="http://feeds.feedburner.com/augustopascutti/blog-augusto-pascutti" rel="alternate" title="/dev/null" type="application/atom+xml" />
    </head>
    <body>
        <div id="container">
          <section class="sidebar">
              <h1><a href="/" rel="home">/dev/null</a></h1>
              <h2><a href="http://twitter.com/augustohp" rel="me">por @augustohp</a></h2>
              <p>Algumas coisas acabam aqui...</p>
          </section>
          <section class="page">
              {{ content }}
          </section>
        </div>
        <script src="/res/prism.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5680712-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>
    </body>
</html>