---
layout: default
---
<article class="post">
    <header>
        <h2 class="title">{{ page.title }}</h2>
        <abbr class="date" title="{{ page.date | date: "%Y-%m-%dT00:00:00-03:00" }}"> {{ page.date | date: "%Y-%m-%d" }} </abbr>
    </header>

    <div class="content language-php">
    {{ content }}
    </div>
</article>

<div id="disqus_thread"></div>
<noscript>Por favor, habilite o javascript para ver os comentários</noscript>

<script type="text/javascript">
    var disqus_shortname  = 'augustopascuttisblog';
    var disqus_identifier = "{{ page.id | replace:'/','-' }}";
    var disqus_url        = "http://blog.augustopascutti.com{{ page.url }}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>